<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="/css/notice.css">
</head>
<body>
<div class="container">
    <h1 class="coming">C O M I N G <br> S O O N</h1>
    <p class="message">잠시만 기다려 주세요<br>곧 개발을 완료하겠습니다</p>
</div>
<footer>
    <div class="social-media">
        <a href="https://github.com/adorahelen" target="_blank">
            <img src="/img/footerIcon.png" alt="Github" class="icon">
        </a>
    </div>
    <p>Copyright &copy; 2025 Kangmin Kim. All rights reserved.</p>
</footer>
</body>
</html>
